<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/chapter6_challenge/">
    <title>title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

    <link rel="stylesheet" href="style.css">
    <script src="controller.js"></script>
  </head>
  <body ng-app="movieSearchApp">
    <section class="header">
      Search:
      <input ng-controller="inputController" ng-keyup="keyPressed()" ng-model="textToSearch">
    </section>
    <h2>RESULTS</h2>
    <ul ng-controller="resultsController">
      <li ng-repeat="result in results">
        {{result}}
      </li>
    </ul>
  </body>
</html>